meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit="no")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name="author" content="Stefan Lazarevic")
meta(name="description" content="")
meta(name="Copyright" content="Stefan Lazarevic 2017")
