mixin country__select
  .form__group
    select(name="country").form__select
      option(value="AFG" data-phone="" data-flag="") Afghanistan
      option(value="ALA" data-phone="" data-flag="") Åland Islands
      option(value="ALB" data-phone="" data-flag="") Albania
      option(value="DZA" data-phone="" data-flag="") Algeria
      option(value="ASM" data-phone="" data-flag="") American Samoa
      option(value="AND" data-phone="" data-flag="") Andorra
      option(value="AGO" data-phone="" data-flag="") Angola
      option(value="AIA" data-phone="" data-flag="") Anguilla
      option(value="ATA" data-phone="" data-flag="") Antarctica
      option(value="ATG" data-phone="" data-flag="") Antigua and Barbuda
      option(value="ARG" data-phone="" data-flag="") Argentina
      option(value="ARM" data-phone="" data-flag="") Armenia
      option(value="ABW" data-phone="" data-flag="") Aruba
      option(value="AUS" data-phone="" data-flag="") Australia
      option(value="AUT" data-phone="" data-flag="") Austria
      option(value="AZE" data-phone="" data-flag="") Azerbaijan
      option(value="BHS" data-phone="" data-flag="") Bahamas
      option(value="BHR" data-phone="" data-flag="") Bahrain
      option(value="BGD" data-phone="" data-flag="") Bangladesh
      option(value="BRB" data-phone="" data-flag="") Barbados
      option(value="BLR" data-phone="" data-flag="") Belarus
      option(value="BEL" data-phone="" data-flag="") Belgium
      option(value="BLZ" data-phone="" data-flag="") Belize
      option(value="BEN" data-phone="" data-flag="") Benin
      option(value="BMU" data-phone="" data-flag="") Bermuda
      option(value="BTN" data-phone="" data-flag="") Bhutan
      option(value="BOL" data-phone="" data-flag="") Bolivia, Plurinational State of
      option(value="BES" data-phone="" data-flag="") Bonaire, Sint Eustatius and Saba
      option(value="BIH" data-phone="" data-flag="") Bosnia and Herzegovina
      option(value="BWA" data-phone="" data-flag="") Botswana
      option(value="BVT" data-phone="" data-flag="") Bouvet Island
      option(value="BRA" data-phone="" data-flag="") Brazil
      option(value="IOT" data-phone="" data-flag="") British Indian Ocean Territory
      option(value="BRN" data-phone="" data-flag="") Brunei Darussalam
      option(value="BGR" data-phone="" data-flag="") Bulgaria
      option(value="BFA" data-phone="" data-flag="") Burkina Faso
      option(value="BDI" data-phone="" data-flag="") Burundi
      option(value="KHM" data-phone="" data-flag="") Cambodia
      option(value="CMR" data-phone="" data-flag="") Cameroon
      option(value="CAN" data-phone="" data-flag="") Canada
      option(value="CPV" data-phone="" data-flag="") Cape Verde
      option(value="CYM" data-phone="" data-flag="") Cayman Islands
      option(value="CAF" data-phone="" data-flag="") Central African Republic
      option(value="TCD" data-phone="" data-flag="") Chad
      option(value="CHL" data-phone="" data-flag="") Chile
      option(value="CHN" data-phone="" data-flag="") China
      option(value="CXR" data-phone="" data-flag="") Christmas Island
      option(value="CCK" data-phone="" data-flag="") Cocos (Keeling) Islands
      option(value="COL" data-phone="" data-flag="") Colombia
      option(value="COM" data-phone="" data-flag="") Comoros
      option(value="COG" data-phone="" data-flag="") Congo
      option(value="COD" data-phone="" data-flag="") Congo, the Democratic Republic of the
      option(value="COK" data-phone="" data-flag="") Cook Islands
      option(value="CRI" data-phone="" data-flag="") Costa Rica
      option(value="CIV" data-phone="" data-flag="") Côte d'Ivoire
      option(value="HRV" data-phone="" data-flag="") Croatia
      option(value="CUB" data-phone="" data-flag="") Cuba
      option(value="CUW" data-phone="" data-flag="") Curaçao
      option(value="CYP" data-phone="" data-flag="") Cyprus
      option(value="CZE" data-phone="" data-flag="") Czech Republic
      option(value="DNK" data-phone="" data-flag="") Denmark
      option(value="DJI" data-phone="" data-flag="") Djibouti
      option(value="DMA" data-phone="" data-flag="") Dominica
      option(value="DOM" data-phone="" data-flag="") Dominican Republic
      option(value="ECU" data-phone="" data-flag="") Ecuador
      option(value="EGY" data-phone="" data-flag="") Egypt
      option(value="SLV" data-phone="" data-flag="") El Salvador
      option(value="GNQ" data-phone="" data-flag="") Equatorial Guinea
      option(value="ERI" data-phone="" data-flag="") Eritrea
      option(value="EST" data-phone="" data-flag="") Estonia
      option(value="ETH" data-phone="" data-flag="") Ethiopia
      option(value="FLK" data-phone="" data-flag="") Falkland Islands (Malvinas)
      option(value="FRO" data-phone="" data-flag="") Faroe Islands
      option(value="FJI" data-phone="" data-flag="") Fiji
      option(value="FIN" data-phone="" data-flag="") Finland
      option(value="FRA" data-phone="" data-flag="") France
      option(value="GUF" data-phone="" data-flag="") French Guiana
      option(value="PYF" data-phone="" data-flag="") French Polynesia
      option(value="ATF" data-phone="" data-flag="") French Southern Territories
      option(value="GAB" data-phone="" data-flag="") Gabon
      option(value="GMB" data-phone="" data-flag="") Gambia
      option(value="GEO" data-phone="" data-flag="") Georgia
      option(value="DEU" data-phone="" data-flag="") Germany
      option(value="GHA" data-phone="" data-flag="") Ghana
      option(value="GIB" data-phone="" data-flag="") Gibraltar
      option(value="GRC" data-phone="" data-flag="") Greece
      option(value="GRL" data-phone="" data-flag="") Greenland
      option(value="GRD" data-phone="" data-flag="") Grenada
      option(value="GLP" data-phone="" data-flag="") Guadeloupe
      option(value="GUM" data-phone="" data-flag="") Guam
      option(value="GTM" data-phone="" data-flag="") Guatemala
      option(value="GGY" data-phone="" data-flag="") Guernsey
      option(value="GIN" data-phone="" data-flag="") Guinea
      option(value="GNB" data-phone="" data-flag="") Guinea-Bissau
      option(value="GUY" data-phone="" data-flag="") Guyana
      option(value="HTI" data-phone="" data-flag="") Haiti
      option(value="HMD" data-phone="" data-flag="") Heard Island and McDonald Islands
      option(value="VAT" data-phone="" data-flag="") Holy See (Vatican City State)
      option(value="HND" data-phone="" data-flag="") Honduras
      option(value="HKG" data-phone="" data-flag="") Hong Kong
      option(value="HUN" data-phone="" data-flag="") Hungary
      option(value="ISL" data-phone="" data-flag="") Iceland
      option(value="IND" data-phone="" data-flag="") India
      option(value="IDN" data-phone="" data-flag="") Indonesia
      option(value="IRN" data-phone="" data-flag="") Iran, Islamic Republic of
      option(value="IRQ" data-phone="" data-flag="") Iraq
      option(value="IRL" data-phone="" data-flag="") Ireland
      option(value="IMN" data-phone="" data-flag="") Isle of Man
      option(value="ISR" data-phone="" data-flag="") Israel
      option(value="ITA" data-phone="" data-flag="") Italy
      option(value="JAM" data-phone="" data-flag="") Jamaica
      option(value="JPN" data-phone="" data-flag="") Japan
      option(value="JEY" data-phone="" data-flag="") Jersey
      option(value="JOR" data-phone="" data-flag="") Jordan
      option(value="KAZ" data-phone="" data-flag="") Kazakhstan
      option(value="KEN" data-phone="" data-flag="") Kenya
      option(value="KIR" data-phone="" data-flag="") Kiribati
      option(value="PRK" data-phone="" data-flag="") Korea, Democratic People's Republic of
      option(value="KOR" data-phone="" data-flag="") Korea, Republic of
      option(value="KWT" data-phone="" data-flag="") Kuwait
      option(value="KGZ" data-phone="" data-flag="") Kyrgyzstan
      option(value="LAO" data-phone="" data-flag="") Lao People's Democratic Republic
      option(value="LVA" data-phone="" data-flag="") Latvia
      option(value="LBN" data-phone="" data-flag="") Lebanon
      option(value="LSO" data-phone="" data-flag="") Lesotho
      option(value="LBR" data-phone="" data-flag="") Liberia
      option(value="LBY" data-phone="" data-flag="") Libya
      option(value="LIE" data-phone="" data-flag="") Liechtenstein
      option(value="LTU" data-phone="" data-flag="") Lithuania
      option(value="LUX" data-phone="" data-flag="") Luxembourg
      option(value="MAC" data-phone="" data-flag="") Macao
      option(value="MKD" data-phone="" data-flag="") Macedonia, the former Yugoslav Republic of
      option(value="MDG" data-phone="" data-flag="") Madagascar
      option(value="MWI" data-phone="" data-flag="") Malawi
      option(value="MYS" data-phone="" data-flag="") Malaysia
      option(value="MDV" data-phone="" data-flag="") Maldives
      option(value="MLI" data-phone="" data-flag="") Mali
      option(value="MLT" data-phone="" data-flag="") Malta
      option(value="MHL" data-phone="" data-flag="") Marshall Islands
      option(value="MTQ" data-phone="" data-flag="") Martinique
      option(value="MRT" data-phone="" data-flag="") Mauritania
      option(value="MUS" data-phone="" data-flag="") Mauritius
      option(value="MYT" data-phone="" data-flag="") Mayotte
      option(value="MEX" data-phone="" data-flag="") Mexico
      option(value="FSM" data-phone="" data-flag="") Micronesia, Federated States of
      option(value="MDA" data-phone="" data-flag="") Moldova, Republic of
      option(value="MCO" data-phone="" data-flag="") Monaco
      option(value="MNG" data-phone="" data-flag="") Mongolia
      option(value="MNE" data-phone="" data-flag="") Montenegro
      option(value="MSR" data-phone="" data-flag="") Montserrat
      option(value="MAR" data-phone="" data-flag="") Morocco
      option(value="MOZ" data-phone="" data-flag="") Mozambique
      option(value="MMR" data-phone="" data-flag="") Myanmar
      option(value="NAM" data-phone="" data-flag="") Namibia
      option(value="NRU" data-phone="" data-flag="") Nauru
      option(value="NPL" data-phone="" data-flag="") Nepal
      option(value="NLD" data-phone="" data-flag="") Netherlands
      option(value="NCL" data-phone="" data-flag="") New Caledonia
      option(value="NZL" data-phone="" data-flag="") New Zealand
      option(value="NIC" data-phone="" data-flag="") Nicaragua
      option(value="NER" data-phone="" data-flag="") Niger
      option(value="NGA" data-phone="" data-flag="") Nigeria
      option(value="NIU" data-phone="" data-flag="") Niue
      option(value="NFK" data-phone="" data-flag="") Norfolk Island
      option(value="MNP" data-phone="" data-flag="") Northern Mariana Islands
      option(value="NOR" data-phone="" data-flag="") Norway
      option(value="OMN" data-phone="" data-flag="") Oman
      option(value="PAK" data-phone="" data-flag="") Pakistan
      option(value="PLW" data-phone="" data-flag="") Palau
      option(value="PSE" data-phone="" data-flag="") Palestinian Territory, Occupied
      option(value="PAN" data-phone="" data-flag="") Panama
      option(value="PNG" data-phone="" data-flag="") Papua New Guinea
      option(value="PRY" data-phone="" data-flag="") Paraguay
      option(value="PER" data-phone="" data-flag="") Peru
      option(value="PHL" data-phone="" data-flag="") Philippines
      option(value="PCN" data-phone="" data-flag="") Pitcairn
      option(value="POL" data-phone="" data-flag="") Poland
      option(value="PRT" data-phone="" data-flag="") Portugal
      option(value="PRI" data-phone="" data-flag="") Puerto Rico
      option(value="QAT" data-phone="" data-flag="") Qatar
      option(value="REU" data-phone="" data-flag="") Réunion
      option(value="ROU" data-phone="" data-flag="") Romania
      option(value="RUS" data-phone="" data-flag="") Russian Federation
      option(value="RWA" data-phone="" data-flag="") Rwanda
      option(value="BLM" data-phone="" data-flag="") Saint Barthélemy
      option(value="SHN" data-phone="" data-flag="") Saint Helena, Ascension and Tristan da Cunha
      option(value="KNA" data-phone="" data-flag="") Saint Kitts and Nevis
      option(value="LCA" data-phone="" data-flag="") Saint Lucia
      option(value="MAF" data-phone="" data-flag="") Saint Martin (French part)
      option(value="SPM" data-phone="" data-flag="") Saint Pierre and Miquelon
      option(value="VCT" data-phone="" data-flag="") Saint Vincent and the Grenadines
      option(value="WSM" data-phone="" data-flag="") Samoa
      option(value="SMR" data-phone="" data-flag="") San Marino
      option(value="STP" data-phone="" data-flag="") Sao Tome and Principe
      option(value="SAU" data-phone="" data-flag="") Saudi Arabia
      option(value="SEN" data-phone="" data-flag="") Senegal
      option(value="SRB" data-phone="381" data-flag="") Serbia
      option(value="SYC" data-phone="" data-flag="") Seychelles
      option(value="SLE" data-phone="" data-flag="") Sierra Leone
      option(value="SGP" data-phone="" data-flag="") Singapore
      option(value="SXM" data-phone="" data-flag="") Sint Maarten (Dutch part)
      option(value="SVK" data-phone="" data-flag="") Slovakia
      option(value="SVN" data-phone="" data-flag="") Slovenia
      option(value="SLB" data-phone="" data-flag="") Solomon Islands
      option(value="SOM" data-phone="" data-flag="") Somalia
      option(value="ZAF" data-phone="" data-flag="") South Africa
      option(value="SGS" data-phone="" data-flag="") South Georgia and the South Sandwich Islands
      option(value="SSD" data-phone="" data-flag="") South Sudan
      option(value="ESP" data-phone="" data-flag="") Spain
      option(value="LKA" data-phone="" data-flag="") Sri Lanka
      option(value="SDN" data-phone="" data-flag="") Sudan
      option(value="SUR" data-phone="" data-flag="") Suriname
      option(value="SJM" data-phone="" data-flag="") Svalbard and Jan Mayen
      option(value="SWZ" data-phone="" data-flag="") Swaziland
      option(value="SWE" data-phone="46" data-flag="") Sweden
      option(value="CHE" data-phone="" data-flag="") Switzerland
      option(value="SYR" data-phone="" data-flag="") Syrian Arab Republic
      option(value="TWN" data-phone="" data-flag="") Taiwan, Province of China
      option(value="TJK" data-phone="" data-flag="") Tajikistan
      option(value="TZA" data-phone="" data-flag="") Tanzania, United Republic of
      option(value="THA" data-phone="" data-flag="") Thailand
      option(value="TLS" data-phone="" data-flag="") Timor-Leste
      option(value="TGO" data-phone="" data-flag="") Togo
      option(value="TKL" data-phone="" data-flag="") Tokelau
      option(value="TON" data-phone="" data-flag="") Tonga
      option(value="TTO" data-phone="" data-flag="") Trinidad and Tobago
      option(value="TUN" data-phone="" data-flag="") Tunisia
      option(value="TUR" data-phone="" data-flag="") Turkey
      option(value="TKM" data-phone="" data-flag="") Turkmenistan
      option(value="TCA" data-phone="" data-flag="") Turks and Caicos Islands
      option(value="TUV" data-phone="" data-flag="") Tuvalu
      option(value="UGA" data-phone="" data-flag="") Uganda
      option(value="UKR" data-phone="" data-flag="") Ukraine
      option(value="ARE" data-phone="" data-flag="") United Arab Emirates
      option(value="GBR" data-phone="" data-flag="") United Kingdom
      option(value="USA" data-phone="1" data-flag="") United States
      option(value="UMI" data-phone="" data-flag="") United States Minor Outlying Islands
      option(value="URY" data-phone="598" data-flag="") Uruguay
      option(value="UZB" data-phone="998" data-flag="") Uzbekistan
      option(value="VUT" data-phone="" data-flag="") Vanuatu
      option(value="VEN" data-phone="" data-flag="") Venezuela, Bolivarian Republic of
      option(value="VNM" data-phone="" data-flag="") Viet Nam
      option(value="VGB" data-phone="" data-flag="") Virgin Islands, British
      option(value="VIR" data-phone="" data-flag="") Virgin Islands, U.S.
      option(value="WLF" data-phone="" data-flag="") Wallis and Futuna
      option(value="ESH" data-phone="" data-flag="") Western Sahara
      option(value="YEM" data-phone="" data-flag="") Yemen
      option(value="ZMB" data-phone="260" data-flag="") Zambia
      option(value="ZWE" data-phone="263" data-flag="") Zimbabwe
    .form-select__arrow        
