.icon::before,
.icon::after
  font:
    family: FontAwesome

.icon-facebook::before
  content: '\f09a'
.icon-twitter::before
  content: '\f099'
.icon-instagram::before
  content: '\f16d'
.icon-pinterest::before
  content: '\f231'
.icon-google::before
  content: '\f0d5'
.icon-phone::before
  content: '\f095'
.icon-mail::before
  content: '\f0e0'
.icon-profile::before
  content: '\f007'
.icon-star::before
  content: '\f005'
.icon-target::before
  content: '\f192'
.icon-cart::before
  content: '\f07a'
.icon-login::before
  content: '\f090'
.icon-search::before
  content: '\f002'
.icon-lock::before
  content: '\f023'
