$button--green: (button--green: (name: 'green', bg__normal: '#5cb85c', text__normal: '#fff', bg__hover: '#449d44', text__hover: '#fff'))
$button--red: (button--red: (name: 'red', bg__normal: '#d9534f', text__normal: '#fff', bg__hover: '#c9302c', text__hover: '#fff'))

$map: ($button--green)
$map: map-merge($map, $button--red)

.btn
  display: inline-block
  position: relative
  letter-spacing: .5px
  border: 1px solid transparent
  border-radius: 2px
  height: 36px
  line-height: 36px
  text-transform: uppercase
  padding: 0 2rem
  user-select: none
  vertical-align: middle
  font:
    family: Helvetica, Arial, sans-serif
    size: 14px
  color: #222
  background: $border--primary
  &:hover
    background: #aaa

.btn--ghost
  @extend .btn
  background: transparent
  color: #444
  border-color: currentColor

.btn-icon--left
  @extend .btn
  padding-left: 50px
  .btn__icon
    +position(absolute, -1px null null 25px)

.btn-icon--right
  @extend .btn
  padding-right: 50px
  .btn__icon
    +position(absolute, -1px 25px null null)

.btn__icon
  @extend .icon

.btn--right
  float: right

.btn--center
  display: block
  margin:
    right: auto
    left: auto

@each $button, $args in $map
  .btn--#{map-get($args, name)}
    background: #{map-get($args, bg__normal)}
    color: #{map-get($args, text__normal)}
    &:hover
      background: #{map-get($args, bg__hover)}
      color: #{map-get($args, text__hover)}
