$element__margin--bottom: 15px

.form
  padding: 20px 15px

.form__group
  position: relative
  display: block
  width: 100%
  &:not(:last-child)
    margin-bottom: $element__margin--bottom

.form__group-icon--left
  @extend .form__group
  height: 38px
  .icon
    display: inline
    +position(absolute, 10px null null 15px)
    z-index: $z--tooltip
    opacity: .5
  input
    +position(absolute, 0 0 0 0)
    width: 100%
    height: 100%
    padding-left: 40px
    &:focus + .icon
      opacity: 1

.form__group-icon--right
  @extend .form__group-icon--left
  input
    padding:
      left: 15px
      right: 40px
  .icon
    +position(absolute, 10px 15px null auto)

.form__label
  display: block
  margin-bottom: 7px
  font-size: 14px

.form__input
  width: 100%
  padding: 10px 15px
  border: 1px solid $border--primary
  outline: 0
  background: $white
  &:not(:last-child)
    margin-bottom: $element__margin--bottom
  &:focus
    border-color: #222

.form__input--password
  @extend .form__input
  letter-spacing: 3px
  &::placeholder
    letter-spacing: normal

.form__label--inline
  @extend .form__label
  display: inline-block
  margin-right: 10px
  vertical-align: top
  margin-top: 10px
  & + .form__input,
  & + .form__input--password,
    display: inline-block
    width: auto

.form__textarea
  @extend .form__input
  font-family: Arial
  min-height: 100px

.form__select
  @extend .form__input
  // background: transparent
  background: $white
  appearance: none
  &::-ms-expand
	  display: none
  & + .form-select__arrow
    +position(absolute, 16px 15px null null)
    width: 0
    height: 0
    pointer-events: none
    border:
      width: 8px 5px 0 5px
      style: solid
      color: $border--primary transparent transparent transparent
    transition: all .3s ease-in
    z-index: $z--tooltip
  &:active + .form-select__arrow
    transform: rotate(180deg)
    border-top-color: #222

.form__checkbox
  display: none
  & + label
    display: inline-block
    &:before
      content: ""
      display: inline-block
      font:
        family: FontAwesome
        size: 13px
      width: 20px
      height: 20px
      text:
        align: center
      vertical-align: middle
      margin: -4px 10px 0 0
      border: 1px solid $border--primary
      background:
        color: #ebebeb
  &:checked + label:before
    content: '\f00c'
    font-size: 10px
    line-height: 18px

.form__radio
  @extend .form__checkbox
  & + label
    margin: 0 10px 10px 0
  & + label::before
    width: 18px
    height: 18px
    border-radius: 40px
  &:checked + label::before
    content: ''
    background-color: #171717
    border: 5px solid #ededed
    padding: 1px

// @TODO Sass Form component .form__file
.form__file

.form__switch
  display: none
  & + label
    position: relative
    display: inline-block
    width: 60px
    height: 30px
    border-radius: 40px
    background: $border--primary
    &::before
      content: ''
      position: absolute
      top: 3px
      left: 5px
      width: 24px
      height: 24px
      background: $white
      border-radius: 30px
      transition: .3s
  &:checked + label
    background: $green
    &::before
      left: calc(100% - 5px)
      transform: translateX(-100%)

// @TODO Sass Form component .form__range
.form__range

.form__validation
  display: none

.form--error
  input,
  select,
  textarea
    color: #222
    margin-bottom: 5px !important
    border: 1px solid $red
  .form__validation
    display: block
    color: $red
    font-size: 14px
  .icon
    color: $red !important

.form__group-icon--left.form--error,
.form__group-icon--right.form-error
  margin-bottom: 35px
  .form__validation
    position: absolute
    top: calc(100% + 5px)

*:disabled,
*.disabled
  opacity: .5
