extends ../2-layouts/app.pug

//- Change in variables.pug file
block title
  title #{aboutTitle}

block content
  main(role="main").container
    nav
      ul.list--horizontal
        li.list__item
          a(href="#") Home
        li.list__item
          a(href="#") About
        li.list__item
          a(href="#") Gallery
        li.list__item
          a(href="#") Contact
