include ../0-includes/variables.pug
include ../1-mixins/_mixins.pug
include ../3-modules/_modules.pug
<!DOCTYPE html>
html(lang="en")
  head
    include ../0-includes/meta.pug
    include ../0-includes/socialMeta.pug
    block title
    include ../0-includes/links.pug
  body
    include ./_header.pug
    include ./_navigation.pug
    block content
    include ./_footer.pug
    block scriptBefore
    include ../0-includes/scripts.pug
    block scriptAfter
    noscript  Oh no, you either have JavaScript turned off or your browser doesn't support JavaScript.
